@charset "utf-8";
/* CSS Document */

ol{
	color: black	
}


#zadatak h3 {
	margin-left: 50px
}

#zadatak3 ul{
	margin-left: 50px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    color: forestgreen;
}


#zadatak3 ul ul{
	color: black;
	font-style: oblique;
	
}

#zadatak2 ol{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	color: white;
	
	text-transform: uppercase;	
}

#zadatak2 ol li{
	display:inline;
	margin-left: 3px;
	background-color: darkgreen;
	margin-top: 10px;
	padding: 0 20px;	
}

#zadatak2 p{
	width: 500px;
		margin-left: 50px;
}

#zadatak1 p, ol li{
	margin-left: 50px;
}

#zadatak1 p{
	font-family: 'Amatic SC';
	font-size: 30px;
	color: darkgreen;
	font-weight: bold;
}

#zadatak2 span{
	font-weight: bold;
	font-style: italic;
}

#zadatak3{
	border-top: 1px solid black;
	padding-top: 5px;
	margin-left: 50px;
	width: 500px;
	border-bottom: 1px solid black;
}
